.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #333;
    background-color:  white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: rgb(110, 111, 111);}
  
  .button:active {
    background-color: rgb(244, 15, 15);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button:disabled {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
  
    cursor: not-allowed;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #333;
    border: none;
    border-radius: 15px;
    background-color: rgb(244, 15, 15);
    box-shadow: 0 5px #666;
  }

